/* Custom properties */
:root {
  --light-color: #fff;
  --light-color-alt: #afb6cd;
  --primary-background-color: #131417;
  --secondary-background-color: #252830;
  --hover-light-color: var(--light-color);
  --hover-dark-color: var(--primary-background-color);
  --gradient-color: linear-gradient(
    115deg,
    #4fcf70,
    #fad648,
    #a767e5,
    #12bcfe,
    #44ce7b
  );
  --transparent-light-color: rgba(255, 255, 255, 0.05);
  --transparent-dark-color: rgba(0, 0, 0, 0.75);
  --font-family: "Poppins", sans-serif;
  --font-size-xsm: 1.2rem;
  --font-size-sm: 1.6rem;
  --font-size-md: 2.4rem;
  --font-size-lg: 3rem;
  --font-size-xl: 4rem;
  --gap: 2rem;
  --margin-sm: 2rem;
  --margin-md: 3rem;
  --item-min-height-sm: 20rem;
  --item-min-height-md: 30rem;
}

/* Base styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  width: 100%;
  background: #fff;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
}

/*=sections==*/
section {
  width: 100%;
}
.dom {
  height: 150px;
  outline: 2px solid #000;
}
.sectionTwo {
  height: 150px;
  outline: solid 2px #131417;
}
/*AppendChield=*/
h2 {
  font-weight: 700;
  font-size: 20px;
  margin-top: 10px;
}
.addTwo {
  margin-top: 1rem;
  font-size: 15px;
}
.addThree {
  margin: 1rem auto;
  font-size: 1.2rem;
}

.textPlus {
  margin-top: 3rem;
}
.four {
  outline: 2px solid red;
  margin-top: 3rem;
}
